$red:#f44336;
$navbar:#8c92a0;
$font: "Raleway", sans-serif;
$shadow: 0 10px 20px -15px rgba(0, 0, 0, 0.9);
$background: #f1f1f1;
$light-gray: #fff;
$dark-gray: #757575;
$darkest-gray: #616161;
$orange: #f44336;
$hero-container-data-button: #7971ea;
$hero-container-data-button-hover: #3a2ee0;
$featured-products-background-color: #f8f9fa;